
@{
    ViewData["Title"] = "Documents";
}

<h1>Documents</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Documents" asp-action="Index">Add, Edit, List, Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="DworkinWiFiSurveyResults" asp-action="Index">Add, Edit, List, DworkinWiFiSurveyResults</a>
    </li>    
</ul>

