
@{
    ViewData["Title"] = "Business Centres";
}

<h1>Business Centres</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BusinessCentres" asp-action="Index">Add, Edit, List, Business Centres</a>
    </li>    
</ul>