
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="AgeGroups" asp-action="Index">Handel Agegroups</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="Clubs" asp-action="Index">Handel Clubs</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="Districts" asp-action="Index">Handel Districts</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="People" asp-action="Index">Handel People</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="Seasons" asp-action="Index">Handel Seasons</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="Sports" asp-action="Index">Handel Sports</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="" asp-controller="Teams" asp-action="Index">Handel Teams</a>
        </li>
    </ul>
</div>
