
@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Games</a>
    </li>

</ul>
<h1>Arenas</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Arenas" asp-action="Index">Arenas</a>
    </li>

</ul>
<h1>Series</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Series" asp-action="Index">Series</a>
    </li>

</ul>
