
@{
    ViewData["Title"] = "Referee";
}

<h1>Referee</h1>
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TSMRefs" asp-action="Index">Referrees</a>
    </li>

</ul>
