@{
    ViewData["Title"] = "SIFLists";
}

<h1>SIFs Listor i TSM</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SIFArenas" asp-action="Index">Arenor !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SIFClubs" asp-action="Index">Klubbar !</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SIFRefs" asp-action="Index">Domare !</a>
    </li>
</ul>

