
@{
    ViewData["Title"] = "Economics";
}

    <h1>Economics</h1>


    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrders" asp-action="Index">Add, Edit, List, Purches Orders </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="SupportCases" asp-action="Index">Add, Edit, List, Support Cases </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="WorkReports" asp-action="Index">Add, Edit, List, Work Reports </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Invoices" asp-action="Index">Add, Edit, List, Invoices </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index">Add, Edit, List, Articles </a>
        </li>
    </ul>